[user]
	name = Meron Ogbai
	email = 22526062+meronogbai@users.noreply.github.com
	signingkey = 66AB57402120624E
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	excludesFile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[trim]
	bases = main,master,staging,development
[commit]
	gpgsign = true
[rerere]
	enabled = true
