snippet cl "console.log"
	console.log(${0});

snippet ctime "console.time ... console.timeEnd"
	console.time("${1:label}");
	${0:${VISUAL}}
	console.timeEnd("$1");

snippet sleep "sleep"
	await new Promise(res => setTimeout(res, ${0}));
